@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default;
}

ol {
  @apply list-decimal pl-4 space-y-4;
}

input[type="radio"] {
  @apply radio;
}

ol li {
  @apply space-y-2  text-lg;
}

ol li label {
  padding-left: 1rem;
  /* color: white; */
  font-size: 14px;
}
